.index {
  @apply h-full  relative p-[24px] max-w-[1920px] md:p-0 xl:pt-[40px] flex flex-col gap-[48px] md:gap-[106px] xl:gap-[251px] bg-homeMobile md:bg-homeTablet xl:bg-homeDesk xl:bg-cover bg-no-repeat;
  background-size: cover;
  margin: 0 auto;

  .main {
    @apply flex flex-col xl:flex-row xl:justify-between items-center xl:items-start text-grey text-center xl:text-left gap-[81px] md:gap-[156px] xl:gap-0 md:mx-[161px] xl:ml-[165px] xl:mr-[78px];

    .content {
      @apply flex flex-col gap-4 md:gap-[24px] xl:items-start xl:w-[450px];

      .hook {
        @apply text-base md:text-[20px] xl:text-[28px] tracking-[2.7px] md:tracking-[3.38px] font-barlow;
      }

      h1 {
        @apply text-white font-bellefair text-[80px] md:text-[150px] leading-[100px] md:leading-[150px];
      }

      p {
        @apply text-[15px] md:text-base xl:text-[18px] font-regBar leading-[25px] md:leading-[28px] xl:leading-[32px];
      }
    }

    .explore {
      @apply relative z-10 w-[150px] h-[150px] md:w-[242px] md:h-[242px] xl:w-[450px] xl:h-[450px]  flex justify-center items-center rounded-full;

      .spacing {
        @apply xl:w-[274px] xl:h-[274px] bg-[rgba(255,255,255,0.1)] rounded-full flex justify-center items-center;
      }

      .hover {
        @apply text-[20px] md:text-[32px] bg-white font-bellefair text-bg rounded-full w-[150px] h-[150px] md:w-[242px] md:h-[242px] xl:w-[274px] xl:h-[274px] flex justify-center items-center;
      }
    }

    .explore:hover .spacing {
      @apply xl:w-full xl:h-full duration-500;
    }
  }
}

.destination {
  @apply h-full relative max-w-[1920px] p-[24px] md:p-0 xl:pt-[40px] flex flex-col gap-[24px] md:gap-[40px] xl:gap-[76px] bg-destinationMobile md:bg-destinationTablet xl:bg-destinationDesk bg-no-repeat;
  background-size: cover;

  margin: 0 auto;

  .main {
    @apply flex flex-col gap-[32px] md:gap-[60px] xl:gap-[64px] text-center xl:text-left;

    .section {
      @apply font-barlow text-base md:text-[20px] xl:text-[28px] tracking-[2.7px] md:tracking-[3.38px] xl:tracking-[4.72px] md:ml-[38.5px] xl:ml-[166.5px] text-white md:self-start;

      .number {
        @apply font-bold opacity-[0.25] mr-[18px] md:mr-[19px] xl:mr-[28px];
      }
    }

    .content {
      @apply flex flex-col xl:flex-row gap-[26px] xl:justify-between md:gap-[53px] items-center md:px-[97px] xl:pr-[218.67px] xl:pl-[230px];

      img {
        @apply w-[170px] h-[170px] md:w-[300px] md:h-[300px] xl:w-[500px] xl:h-[500px];
      }

      .mainContent {
        @apply flex flex-col xl:items-start xl:max-w-[444px];

        .destinationNav {
          @apply flex justify-center gap-[26.5px] md:gap-[36px] xl:gap-[33.5px] mb-[26px] md:mb-[32px];

          input {
            @apply absolute hidden;
          }

          input + label {
            @apply hover:cursor-pointer relative hover:border-[rgba(255,255,255,0.5)] text-grey text-[14px] md:text-base pb-[8px] md:pb-[12px] font-barlow border-b-[3px] border-[transparent] leading-[17px] xl:leading-[19px] tracking-[2.36px] md:tracking-[2.7px] mr-[-2.36px] md:mr-[-2.7px];
          }

          input:checked + label {
            @apply text-white border-white;
          }
        }

        .celestial {
          @apply flex flex-col gap-[1px] md:gap-[8px] xl:gap-[14px] pb-[32px] md:pb-[49px] xl:pb-[54px] border-b border-[#383B4B];

          .name {
            @apply font-bellefair text-white text-[56px] md:text-[80px] xl:text-[100px] leading-[64px] md:leading-[80px] xl:leading-[115px];
          }

          .description {
            @apply leading-[25px] h-[125px] md:h-[auto] xl:h-[128px] md:leading-[28px] xl:leading-[32px] text-[15px] md:text-base xl:text-[18px] font-regBar text-grey;
          }
        }

        .data {
          @apply flex flex-col md:flex-row gap-[32px] md:gap-[102px] pt-[32px] md:justify-center;

          .datum {
            @apply flex flex-col gap-[12px];

            .statistic {
              @apply font-barlow text-[14px] text-grey tracking-[2.36px];
            }

            p:not(.statistic) {
              @apply font-bellefair text-[28px] text-white;
            }
          }
        }
      }
    }
  }
}

.crew {
  @apply p-[24px] max-w-[1920px] md:p-0 xl:pt-[40px] text-center xl:text-left flex flex-col gap-[24px] md:gap-[40px] xl:gap-[76px] max-h-[100vh] overflow-hidden bg-crewMobile md:bg-crewTablet xl:bg-crewDesk bg-no-repeat;
  background-size: cover;
  margin: 0 auto;

  .main {
    @apply flex flex-col items-center xl:items-stretch gap-[32px] md:gap-[60px] xl:px-[212px];

    .section {
      @apply text-base md:text-[20px] xl:text-[28px] tracking-[2.7px] md:tracking-[3.38px] font-barlow text-white md:self-start md:ml-[38.5px] xl:ml-0;

      .number {
        @apply text-[rgba(255,255,255,0.25)] font-bold mr-4 xl:mr-[24px];
      }
    }

    .content {
      @apply md:flex md:flex-col-reverse xl:flex-row-reverse justify-between md:gap-[40px] xl:gap-[108.57px];
      .imgContainer {
        @apply border-b xl:relative xl:top-[-100px] md:border-none border-solid border-[#383B4B] flex justify-center;

        img {
          @apply w-[auto] h-[223px] md:h-[572px] xl:h-[712px];
        }
      }

      .container {
        @apply flex flex-col md:flex-col-reverse xl:items-start justify-center pt-[32px] md:pt-0 gap-[32px] md:gap-[40px] xl:gap-[120px];
        .radio {
          @apply flex justify-center gap-4;
          input {
            @apply absolute hidden;
          }

          input + label {
            .label {
              @apply hover:cursor-pointer w-[10px] h-[10px] xl:w-[15px] xl:h-[15px] bg-[#979797] opacity-[0.17] rounded-full;
            }
          }

          input:checked + label {
            .label {
              @apply bg-white opacity-[1];
            }
          }
        }

        .crewDescription {
          @apply flex flex-col gap-4 xl:gap-[27px] md:px-[90px] xl:px-0;
          .spacing {
            @apply flex flex-col gap-2 xl:gap-[15px];
            .position {
              @apply text-base md:text-[24px] xl:text-[32px] font-bellefair tracking-[0] leading-[18px] md:leading-[28px] xl:leading-[37px] text-[rgba(255,255,255,0.5)];
            }

            .name {
              @apply text-[24px] md:text-[40px] xl:text-[56px] font-bellefair leading-[28px] md:leading-[46px] xl:leading-[64px] text-white;
            }
          }

          .bio {
            @apply text-[15px] md:h-[84px] xl:w-[444px] xl:h-[128px]  md:text-base xl:text-[18px] font-regBar leading-[25px] md:leading-[28px] xl:leading-[32px] text-grey;
          }
        }
      }
    }
  }
}

.technology {
  @apply flex flex-col h-full  max-w-[1920px] pt-[24px] md:pt-0 xl:pt-[40px] gap-[24px] md:gap-[40px] xl:gap-[76px] bg-techMobile md:bg-techTablet xl:bg-techDesk bg-no-repeat;
  background-size: cover;
  margin: 0 auto;

  header {
    @apply px-[25px] md:px-0 md:pl-[39px] xl:pl-[73.3px];
  }

  .main {
    @apply text-center xl:text-left flex flex-col gap-[32px] md:gap-[60px] xl:gap-[26px] xl:ml-[212px];

    .section {
      @apply text-base  md:text-[20px] xl:text-[28px]  font-barlow text-white tracking-[2.7px] md:tracking-[3.38px] xl:tracking-[4.72px] md:text-left md:ml-[38.5px] xl:ml-0;

      .number {
        @apply text-[rgba(255,255,255,0.25)] mr-4 xl:mr-[24px] font-bold;
      }
    }

    .content {
      @apply flex flex-col xl:flex-row-reverse xl:justify-between gap-[34px] md:gap-[56px];

      .imgContainer {
        @apply w-full  h-[170px] md:h-[310px] xl:w-[515px] xl:h-[527px] flex justify-center;

        img {
          @apply max-h-full;
        }
      }

      .container {
        @apply flex flex-col xl:flex-row gap-[26px] md:gap-[44px] xl:gap-[80px] xl:items-center;

        .radio {
          @apply flex xl:flex-col justify-center gap-4 xl:gap-[32px];

          input {
            @apply absolute hidden;
          }

          input + label p {
            @apply relative hover:cursor-pointer flex justify-center items-center text-base md:text-[24px] xl:text-[32px] font-bellefair text-white rounded-full w-[40px] h-[40px] md:w-[60px] md:h-[60px]  xl:w-[80px] xl:h-[80px] bg-[transparent] border border-solid border-[rgba(255,255,255,0.25)] hover:border-white;
          }

          input:checked + label p {
            @apply bg-white text-bg;
          }
        }

        .description {
          @apply flex flex-col gap-4 xl:gap-[17px];

          .spacing {
            @apply flex flex-col gap-[9px] md:gap-4 xl:gap-[11px];

            .terminology {
              @apply text-[14px] md:text-base tracking-[2.36px] md:tracking-[2.7px] font-barlow leading-[17px] md:leading-[19px] text-grey;
            }

            .name {
              @apply text-[24px] md:text-[40px] xl:text-[56px] font-bellefair text-white leading-[28px] md:leading-[46px] xl:leading-[64px];
            }
          }

          .techDescription {
            @apply xl:w-[444px] xl:h-[192px] text-[15px] md:text-base xl:text-[18px] leading-[25px] md:leading-[28px] xl:leading-[32px] font-regBar text-grey px-[24px] md:px-[155px] xl:px-0;
          }
        }
      }
    }
  }
}
